html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  padding: 0;
  margin: 0;
}

.container {
  width: 100%;
  height: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  -webkit-animation: gradientBackground 15s ease infinite;
  -moz-animation: gradientBackground 15s ease infinite;
  animation: gradientBackground 15s ease infinite;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
p {
  text-align: center;
  line-height: 1.5em;
  margin: 0em 5em;
}
h1 {
  font-size: 3em;
}

.box {
  width: 600px;
  height: 200px;
  border: 5px solid white;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  line-height: ;
}

.break {
  flex-basis: 100%;
}

.f400 {
  font-weight: 400;
}
.f600 {
  font-weight: 700;
}
